.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.benefits__item {
  position: relative;
  flex: 1;
  padding-right: rem(52px);
  padding-top: 0;

  &:last-child {
    padding-right: 0;
  }

  &:not(:last-child):after {
    content: url("../../assets/img/circles.png");
    position: absolute;
    top: rem(60px);
    width: rem(70px);
    right: rem(-9px);

    @include phones {
      content: none;
    }
  }

  @include phones {
    padding-right: 0;
    margin-bottom: rem(20px);
  }
}
