.button {
  font-weight: 800;
  font-size: rem(16px);
  line-height: rem(18px);
  text-transform: uppercase;
  padding: rem(21px) rem(41px);
  border-radius: rem(100px);
  cursor: pointer;
  border: none;

  &_white {
    background: #ffffff;
    color: $darkGreen;
    transition: 0.5s;

    &:hover {
      background: $darkGreen;
      color: #ffffff;
    }
  }

  &_green {
    background: $darkGreen;
    color: #ffffff;
    transition: 0.5s;

    &:hover {
      background: #ffffff;
      color: $darkGreen;
    }
  }

  &_transparent {
    background: transparent;
    color: black;
    text-transform: none;
    font-weight: normal;
    font-size: rem(18px);
    line-height: rem(22px);

    &:hover {
      color: $darkGreen;

    }
  }
}
