.contacts {
  display: flex;
  align-items: center;
}

.contacts__icon {
  flex-shrink: 0;
  margin-right: rem(6px);
  width: rem(13px);
  height: rem(13px);
  fill: #ffffff;
}

.contacts__icon_green {
  fill: #497870;
}

.contacts__phone {
  font-weight: 400;
  font-size: rem(22px);
  line-height: rem(18px);
  white-space: nowrap;
  color: #ffffff;
}

.header__contacts {
  padding: 5px 0;
  @include tablets {
    display: none;
  }
}
