.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: $z-fixed-menu;
}

.fixed-menu__list {
  display: flex;
  flex-direction: column;
}

.fixed-menu__item {

  &_active .fixed-menu__link {
      border-color: #FFFFFF;
  }
}

.fixed-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  margin-bottom: rem(4px);
  transition: 0.1s;

  &:hover {
    border: 1px solid white;
  }

  &:before {
    content: "";
    display: flex;
    top: 50%;
    left: 50%;
    width: rem(9px);
    height: rem(9px);
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: 0.1s;
  }
}

.fixed-menu_black {
  color: black;

  & .fixed-menu__link {
    &:hover {
      border-color: #000000;
    }
    &:before {
      background-color: #000000;
    }
  }

  & .fixed-menu__item_active .fixed-menu__link {
    border-color: #000000;
  }
}