.hamburger {
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 26px;
  display: none;
  position: fixed;
  right: rem(37px);
  z-index: 1500;

  @include tablets {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #FFFFFF;
  height: 4px;
  border-radius: 10px;
  transition: 300ms ease-in-out;
}

.hamburger__plank {
  &:nth-child(2) {
    transform: rotate(0deg);
  }

  &:nth-child(3) {
    transform: rotate(0deg) translateY(0px) translateX(0px);
  }
}

.hamburger_active {
  .hamburger__plank {
    &:nth-child(1) {
      opacity: 0;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg) translateY(-7px) translateX(7px);
    }

  }
}
