.info-card{
  display: flex;
  align-items: center;
}

.info-card__icon {
  width: rem(45px);
  margin-right: rem(7px);
  fill: #FFFFFF;
}

.info-card__desc {
  font-weight: 400;
  font-size: rem(16px);
  max-width: rem(85px);
}