.modal {
  display: none;
  min-width: rem(309px);
  min-height: rem(245px);
  background-color: #FFFFFF;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(20px) 0;
}

.modal__title {
  text-align: center;
  font-weight: 500;
  color: black;
  margin-bottom: rem(18px);
}

.modal__button {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  fill: #b3b3b3;
  transition: 0.5s;

  &:hover {
    fill: black;
  }
}

.modal__icon {
  width: 12px;
  height: 12px;
}

.input_error {
  border: 1px solid red;
}

.error_modal {
  color: red;
}