.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}

.section__container {
  padding: 100px 0;
}

.benefits__section {
  position: relative;
  background: url(../../img/design-leaf.png) left 45% no-repeat;
  &:before {
    position: absolute;
    content: url("../../img/raspberries.png") ;
    bottom: -80px;
    left: 0;
  }
}
