.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  color: #292929;

  &--form {
    color: #365A49;
  }

  &__container {
    padding: 100px 0;
  }
}

.section__container {
  padding: 100px 0;
}

.benefits__section {
  position: relative;
  background: url(../../assets/img/design-leaf.png) left 45% no-repeat;
  &:before {
    position: absolute;
    content: url("../../assets/img/raspberries.png") ;
    bottom: -80px;
    left: 0;
  }
}

.reviews__section {
  &:before {
    content: url("../../assets/img/small fruit.png");
    position: absolute;
    bottom: -150px;
    left: 0;
  }

  &:after {
    content: url("../../assets/img/strawberry.png");
    position: absolute;
    top: 90px;
    right: 0;
  }
}

.form__section {
  position: relative;
  background: url("../../assets/img/bg-form.jpg") no-repeat  ;
  background-size: cover;


  &:after {
    content: url("../../assets/img/leaf-fegure.png");
    position: absolute;
    bottom: 100px;
    right: 15px;
  }

  &:before {
    content: url("../../assets/img/blackberry.png");
    position: absolute;
    top: -164px;
    right: 0;
  }
}

.map__section {
  background-image: url(../../assets/img/map.png);
  background-size: 100%;
  background-repeat: no-repeat;
}