.section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.section__title {
  font-weight: 700;
  font-size: rem(48px);
  line-height: rem(60px);
  text-transform: uppercase;
  text-align: center;
  color: #292929;
  margin-bottom: rem(30px);

  &--form {
    color: #365A49;
  }

  &__container {
    padding: rem(100px) 0;
  }
}

.benefits-section {
  position: relative;
  background: url(../../assets/img/design-leaf.png) left 45% no-repeat;
  &:before {
    position: absolute;
    content: url("../../assets/img/raspberries.png") ;
    bottom: rem(-80px);
    left: 0;
    z-index: 500;

    @include phones {
      content: none;
    }
  }

  @include tablets {
    background-position: left 14%;
  }

  @include phones {
    background: none;
  }
}

.select-section {
  position: relative;
  background: #F8FAF9;

  &:before {
    content: url("../../assets/img/slider-after.png");
    position: absolute;
    bottom: -186px;
    right: 0;
  }

  &:after {
    content: url("../../assets/img/slider-before.png");
    position: absolute;
    bottom: -60px;
    right: 14px;
  }
}

.reviews-section {
  &:before {
    content: url("../../assets/img/small fruit.png");
    position: absolute;
    bottom: rem(-150px);
    left: 0;
  }

  &:after {
    content: url("../../assets/img/strawberry.png");
    position: absolute;
    top: rem(90px);
    right: 0;
  }
}

.form-section {
  position: relative;
  background: url("../../assets/img/bg-form.jpg") no-repeat  ;
  background-size: cover;


  &:after {
    content: url("../../assets/img/leaf-fegure.png");
    position: absolute;
    bottom: rem(100px);
    right: rem(15px);

    @include tablets {
      content: none;
    }
  }

  &:before {
    content: "";
    background: url("../../assets/img/blackberry.png") no-repeat;
    background-size: contain;
    width: rem(196px);
    height: rem(264px);
    position: absolute;
    top: rem(-164px);
    right: 0;

    @include tablets {
      width: rem(109.14px);
      height: rem(147px);
      top: rem(-80px);
    }
  }
}

.map-section {

}